body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100%;
    min-width: 100%; */
}
main{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: .5rem 0; */

}
.logo{
    height: 10vh;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.5rem;
}

.header ul li a{
    text-decoration: none;
    color: black;
    padding: .5rem;
    cursor: pointer;
}

.header ul li{
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: .5rem;
}

.hamburger{
    display: none;
}

.hero-section{
    background-image: url(assets/hero-image.png);
    background-image: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero-text{
    width: 25%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding: 2rem;
    position: absolute;
    top: 31%;
    left: 0;
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.hero-text p{
    width: 80%;
}

.future-section{
    width: 90%;
    background-color: #fff;
    /* padding:1rem; */
    display: flex;
    flex-direction: row;
    margin: 3rem auto;

}

.future-bg{
    /* border: 2px solid red; */
    width: 90%;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 2;
    margin: 0 auto;

}
.future-pix{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:center;
    
}

.future-text-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 221, 221);
    height: 49.4vh;
    width: 50%;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.future-text-bg h1{
    font-size: 2rem;
}

.future-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding: 2rem;
    margin:1rem 0;
}

.services{
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.services h1{
    width: 40%;
    text-align: center;
    margin: 1rem auto;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2;
    margin: 2rem;
    padding: 2rem;
}

#service{
    width: 18%;
    background-color: rgb(205, 227, 205);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: start;
}

.service-p{
    width: 50%;
    margin: 0 auto;
}
.service h5{
    font-size: 1.5rem;
}

.location-container{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
}

.pic-location{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/* .spaces-x{
    width: 10%;
    color: white;
    padding: .8rem;
    background-color: rgb(92, 92, 136) ;
    border-radius: 2rem;
    }*/

.booking-container{
    background-image: url(assets/blog-pic/BespokePartnerships.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


.corporate-partnerships{
    border: 2px solid red;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}


.corporate-vip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    
}


#cop{
    /* width: ; */
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(205, 227, 205);
}

.testimonial-container{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


.testimonials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
}

.test{
    padding: 1.5rem;
    border-radius: 2rem;
    border-bottom-left-radius: .5rem;
    background-color: rgb(203, 200, 200);
}

.img-profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /* margin: 1rem; */
}

.btn{
    margin: 2rem;
}


.blogs-container{
    display: none;
}

.useful-link{
    display: none;
}
.footer-Hero{
    display: none;
}
.footer{
    display:none;
}

.mobile-pix-top, 
.mobile-pix-bottom{
    display:none;

}


/* mobile view begins here for screen size of 320px */


@media screen and  (max-width: 30em ) {
    .header ul{
        display: none;
    }
    .hamburger{
        display: block;
        /* color: black; */
        font-size: 1rem;
        cursor: pointer;
    }
    .hamburger img{
        color: black;
        width: 2rem;
    }
    
.hero-section{
    background-image: url(assets/mobile-image/Image.png);
    background-image: no-repeat;
    background-size: cover;
    height: 90vh;
    /* width: 80%; */
    position: relative;
}
.hero-text{
    width:80%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding: 1rem;
    position: absolute;
    top: 2%;
    left: 0;
    background-color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.future-section{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}

.future-bg{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}
.future-pix{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    /* margin-top:2rem; */

}

.left-pix, .right-pix{
    display: none;
}


.mobile-pix-top {
    /* width: 100%; */
    display: flex;
}
.mobile-pix-bottom{
    display: flex;
}
.mobile-pix-bottom img{
    height: 20vh;
    width:100%;
}
.mobile-pix-top img{
    width:100%;
}
.future-text-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(222, 221, 221);
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.future-text-bg h1{
    font-size: 1.5rem;
}

.future-text{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
    margin:1rem;
}
.services{
    width:100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.services h1{
    width: 80%;
    text-align: center;
    margin: 1rem auto;
}


.services-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

#service{
    width: 100%;
    background-color: rgb(205, 227, 205);
    border-radius: 1rem;
    text-align: start;
    margin-bottom: 2rem;
}


.service-p{
    width: 90%;
    font-size: 1.2rem;
}
#service h5{
    font-size: 1.5rem;
}

#service p{
    font-size: 1.3rem;
}


/* styles for locations mobile */

.location-container{
    display: none;
}

/* booking container for mobile view */
.booking-container{
    display: none;
}

/* corporate-partner */
.corporate-partnerships{
    border: 2px solid red;
    display: none;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

#cop{
    /* width: ; */
    display: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(205, 227, 205);
}


/* testimonials mobile view */
.testimonial-container{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.blogs-container{
    display: none;
}

.useful-link{
    display: none;
}
.footer-Hero{
    display: none;
}
.footer{
    display:none;
}
  }
  






















